$color-primary: rgb(53, 53, 53);
$body-bg:  rgb(24, 24, 24);
$color-title: #00C3B3;
$color-map: #D5BCA2;
$color-text-light: #ddd;


body {
    box-sizing: border-box;
    background-color: $body-bg;
}

.header {
    height: 50px;
    background-color: $color-primary;
    color: $color-title;
    
}

#main {
    // minus height of header and footer
    height: calc(100vh - 100px);
    
    >.row {
      height: 100%;
    //   >* {
    //      border: 5px solid $body-bg;
    //   }
      display: flex;
      gap: 10px;
      padding: 5px;
    }
}

.left {
    background-color: $color-primary;
		height: 100%;
		color: $color-text-light
}

.middle {
    background-color: $color-primary;
    display: flex;
    flex-direction: column;
    gap: 10px;
		padding: 5px;
		
    
    #mapid {
        background-color: $color-map;
        width: 100%;
				height: 70%;
    }

    #chart {
        background-color: $color-map;
        width: 100%;
        height: 30%;
    }
}

.right {
		background-color: $color-primary;
		overflow-x: auto;
		height: 100%;
		color: $color-text-light
}

.footer {
    height: 50px;
    background-color: $color-primary;
    color: $color-title;
    >* {
        text-align: center;
    }
}

.search-block {
	margin-bottom: 20px;
}

.maintable-header {
	font-size: 18px;
	font-weight: 600;
	font-style: italic;
	color: #f55;
}

.loader {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.caching-message {
	color: #ff0000;
	font-weight: 600;
	font-size: 36px;
}

.flag {
	width: 24px;
}